.client-list-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    .main-container {
        width: 65%;
        margin-top: 60px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        hr {
            width: 100%;
            border: 1px solid #E9E9E9;
        }
    }
    
}


// mobile
@media(max-width:982px) {

    .client-list-container {
        
        height: auto;
        .main-container {
            margin-bottom: 0;
        }
    }
}