
<ul *ngFor="let client of this.listClients?.data" class="item-list">

    <li class="profile-picture">
        <img [src]="client.avatar" alt="">
    </li>

    <li class="name">
        {{client.first_name}} {{client.last_name}}
    </li>

    <li class="email">
        {{client.email}}
    </li>

    <li class="action"> 
        <button (click)="editClient(client)"> Editar </button>
    </li>
</ul>
<div class="list-footer">
    <span>Total: {{this.listClients?.total}} clientes</span>
</div>


<div class="pagination-actions">
    <button (click)="paginationReturn()">
        Anterior
    </button>
    <button (click)="pagingForward()">
        Próximo
    </button>
</div>

<br><br>